/*  your css code here. If applicable */
#animal-photos{
/* 	border:1px solid red; */
	padding:10px;
	background:#444444;

}

#photo-heading{
	color:white;
	text-align:center;
}

#container{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	width:90%;
	margin:auto;
	padding-bottom: 30px; 
	border-radius: 2px;
	grid-gap:20px;
}

img{
	width:100%;
	border-radius:10px;
}